@{
    ViewData["Title"] = "";
}

<div class="container-1">
    <div class="text-center-1 mt-3">
        <div id="lottie-container">
            <h1 class="text-6xl text-dark">Hello,</h1>
            <div class="wave-text">
                <h1 class="text-dark text-6xl"> I am <strong>Roshan</strong></h1>
            </div>
        </div>
    </div>
    <div id="background"></div>
</div>
